body {
  font-family: Inter, "sans-serif" !important;
  line-height: 1.6;
}
.container {
  max-width: 1140px;
}
.navbar-nav {
  font-weight: 500;
  padding: 0.3125rem 0.5rem;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.rounded-circle {
  background-color: gray;
  margin-left: 10px;
}
.sectionone {
  background-color: #754ffe !important;
}
.align-items-center {
  align-items: center !important;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.lead {
  letter-spacing: -0.03rem;
  font-size: 1.25rem;
  font-weight: 400;
}
.text-white-50 {
  color: hsla(0, 0%, 100%, 0.5) !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
  width: 465px;
  height: 96px;
}
.display-4 {
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
  line-height: 1.3;
  margin-bottom: 8px;
}
.font-weight-bold {
  font-weight: 700 !important;
}
p {
  margin-top: 0;
  margin-bottom: 24px;
}
.btn-success {
  color: #fff;
  background-color: #19cb98;
  border-color: #19cb98;
}
.btn-white {
  color: #18113c;
  background-color: #fff;
  border-color: #fff;
}
.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.6;
  border-radius: 0.25rem;
}
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.shadow-sm {
  box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09) !important;
}

.bg-white {
  background-color: #fff !important;
}
.d-flex {
  display: flex !important;
}
.font-size-md {
  font-size: 1rem !important;
}
.icon-lg {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

.text-dark-warning {
  color: #c28135 !important;
}

.text-center {
  text-align: center !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.bg-light-warning {
  background-color: #ffeeda !important;
}
.font-weight-semi-bold {
  font-weight: 600 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.kurset {
  background-color: #f5f5f9;
}
.text-inherit {
  color: #18113c;
}
a,
a:hover {
  text-decoration: none;
}
a {
  background-color: transparent;
}
h4 {
  font-size: 1rem;
}
.avatar-xs {
  width: 2rem;
  height: 2rem;
}

.rounded-circle {
  border-radius: 50% !important;
}
img,
svg {
  vertical-align: middle;
}
img {
  border-style: none;
}
.card {
  box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eae7f5;
  border-radius: 0.5rem;
}
.text-truncate-line-2 {
  overflow: hidden;
  max-height: 3rem;
}
.card-body {
  min-height: 1px;
  padding: 1.5rem;
}
.card-footer {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-top: 1px solid #eae7f5;
}
.stars {
  line-height: 1;
}
.card-body{
    height: 150px;
}
.secrow{
    height: 390px;
}
.succs{
    background-color: #fff;
}
.text-md-left{
    text-align: left!important;
}
.seccol{
    display: flex;
}