body{
    margin: 0px;
    padding: 0px;
}
#header-content{
    /* border: 1px solid black; */
    height: 800px;
    background-color: #0067f4;
}
.content{
    width: 1200px;
      /* border: 1px solid black; */
    margin: auto;
    height: 800px;
    
}
.header{
      /* border: 1px solid black; */
    height: 100px;
    display: flex;
}
.logo{
      /* border: 1px solid black; */
    height: 100px;
    width: 250px;

}
.logo img{
    padding: 18px 10px
}
.menu{
      /* border: 1px solid black; */
    height: 100px;
    width: 700px;
    font-family: "Poppins", sans-serif;
    position: sticky;
    top: 0;
    
}
.menu ul{
    display: flex;
    list-style-type: none;
     
}
.menu ul li{
    margin: 10px;  
   
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;

   
}
.dwnbtn{
      /* border: 1px solid black; */
    height: 100px;
    width: 250px;
    
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 18px 20px;
    cursor: pointer;
   font-weight: 700;
}
.button1 {
    background-color: white; 
    color: #0067f4; 
    border: 2px solid white;
}
.button1:hover {
    background-color: #0067f4;
    color: white;
}
.button2{
    background-color: white; 
    color: #0067f4; 
    border: 2px solid white;
    border-radius: 50px;
    width: 200px;
    margin-left: -2px;
}
.button2:hover {
    background-color: #0067f4;
    color: white;
}
.button3{
    background-color: #0067f4; 
    color: white; 
    border: 2px solid white;
    border-radius: 50px;
    width: 200px;
    margin-left: -10px;
}
.button3:hover {
    background-color: white;
    color: #0067f4;
}
.box{
      /* border: 1px solid black; */
    display: flex;
}
.box1{
      /* border: 1px solid black; */
    height: 650px;
    width: 600px;
}
.box1 h1{
    font-size: 88px;
    line-height: 88px;
    color: #fff;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-top: 150px;
} 
.box1 p{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
} 
.box2{
      /* border: 1px solid black; */
    height: 650px;
    width: 600px;
}
#section{
    /* border: 1px solid black; */
    height: 850px;
    background-color: #f4f6f7;
}
.midsection{
    /* border: 1px solid black; */
    margin: auto;
    height: 850px;
    width: 1200px;
}
.txtsection{
    width: 1000px;
    height: 200px;
    margin: 0px auto 0px;
    /* border: 1px solid black; */
}
.txtsection h2{
    margin: 0px auto 40px;
    padding-top: 30px;
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    color: #121212;
    line-height: 55px;
    font-family: "Poppins", sans-serif;
}
.txtsection p{
    text-align: center;
    font-size: 16px;
    color: #6c6c6c;
    font-family: "Poppins", sans-serif;
    margin-top: -15px;
    line-height: 24px;
}
.boxsection{
    /* border: 1px solid black; */
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    
    
}
.boxs1{
    width: 320px;
    height: 530px;
    /* border: 1px solid black; */
    border-radius: 8px;
    background: linear-gradient(#2bdbdc 0%, #0067f4 100%);
}
.boxs2{
    width: 320px;
    height: 530px;
    /* border: 1px solid black; */
    border-radius: 8px;
    background: linear-gradient(#2bdbdc 0%, #0067f4 100%);
}
.boxs3{
    width: 320px;
    height: 530px;
    /* border: 1px solid black; */
    border-radius: 8px;
    background: linear-gradient(#2bdbdc 0%, #0067f4 100%);
}
.imgbox{
    width: 300px;
    height: 200px;
    margin: auto;
    /* border: 1px solid black; */
}
.imgbox img{
    width: 290px;
    height: 200px;
}
.price{
    font-family: "Poppins", sans-serif;
    color: #fff;
    /* border: 1px solid black; */
    width: 300px;
    margin: auto;
}
.price h4{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #fff;

}
.price p:first-of-type{
  text-align: center;
}
.price p span{
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    color: #fff;    
}
.price p{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
.secbtn{
    width: 300px;
    /* border: 1px solid black; */
    margin: auto;
}
.secbtn button{
    margin-left: 45px;
}
#teamsection{
    height: 850px;
    background-color: #fff;
}
.teammidsection{
    margin: auto;
    height: 850px;
    width: 1200px;
}
.teamtxtsection{
    width: 1000px;
    height: 200px;
    margin: 0px auto 0px;
}
.teamtxtsection h2{
    margin: 0px auto 40px;
    padding-top: 30px;
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    color: #121212;
    line-height: 55px;
    font-family: "Poppins", sans-serif;
}
.teamtxtsection p{
    text-align: center;
    font-size: 16px;
    color: #6c6c6c;
    font-family: "Poppins", sans-serif;
    margin-top: -15px;
    line-height: 24px;
}
.teamboxsection{
    height: 640px;
    display: flex;
    justify-content: space-evenly;
}
.tmboxs1{
    width: 320px;
    height: 530px;
    box-shadow: 0px 8px 16px 0px rgb(72 127 255 / 10%);
}
.tmboxs2{
    width: 320px;
    height: 530px;
    box-shadow: 0px 8px 16px 0px rgb(72 127 255 / 10%);
}
.tmboxs3{
    width: 320px;
    height: 530px;
    box-shadow: 0px 8px 16px 0px rgb(72 127 255 / 10%);
}
.tmimg img{
    height: 420px;
    width: 320px;
}
.tmtext h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #121212;
    text-align: center;
    margin-top: 25px;
}
.tmtext p{
    font-size: 16px;
    color: #0067f4;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-top: -15px;
}
#contact{
    height: 550px;
    background-color: #fff;
}
.midcontact{
    margin: auto;
    height: 550px;
    width: 1200px;
}
.logocontact{
    display: flex;
}
.logocontact span{
    font-weight: 400;
    font-size: 38px;
    font-family: "Poppins", sans-serif;
    margin: 10px;
}
.ndhem{
    display: flex;
    font-family: "Poppins", sans-serif;
}
.name{
    width: 600px;
    font-family: "Poppins", sans-serif;
}
.formcontact{
    font-family: "Poppins", sans-serif;
}
.contactbtn{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    background-color: #0067f4;
    border: 2px solid white;
}
.contactbtn:hover{
    background-color: white;
    color: #0067f4;
    border-color:  #0067f4;
}
#footer{
    height: 400px;
    background-color: #121212;  
}
.midfooter{
    margin: auto;
    height: 400px;
    width: 1200px;  
}
.logofooter img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.midfooter p{
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.midfooter p span{
    color: #0067f4;
}
